@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/* body and navigation bar styling */
* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 20%;
  border: 2px solid rgb(25, 223, 206);
  border-radius: 20px;
  margin: 5px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.95);
  z-index: 99999999;
}
.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-list li {
  list-style: none;
  padding: 26px 25px;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
}
.nav-list li a:hover {
  color: rgb(0, 177, 177);
}
.background {
  background: rgba(0, 0, 0, 0.5) url("https://LawBot-Website-AI-Based-Lawyer-/images/lawbot.jpg");
  background-size: cover;
  background-blend-mode: darken;
}
/* Setion 1 Styling */
.sec1 {
  height: 100hv;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 80%;
  margin: auto;
  height: 80%;
}
.first-half {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.text-large {
  color: #fff;
  font-family: Poppins;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -3.48px;
  line-height: 71px;
  margin: 70px 0 30px;
  max-width: 590px;
  text-align: left;
  text-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}

.text-small {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.88px;
  line-height: 32px;
  margin-bottom: 30px;
  max-width: 482px;
  opacity: 0.9;
  padding-top: 50px;
  text-align: left;
}

/* Section 2 Styling */

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50%;
  margin: auto;
  height: 80%;
  flex-direction: column;
  align-content: center;
}
.list1 {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10%;
}
.list2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-top: 0%;
}
.heading-1,
.heading-2 {
  font-size: 214%;
  font-family: "Ubuntu";
  color: #3d3c42;
  text-decoration: underline;
  text-underline-offset: 51%;
  text-decoration-style: wavy;
  text-decoration-thickness: 4%;
}
.fr-list {
  display: block;
  margin: 10%;
}
.nfr-list {
  margin: 10%;
}

.fr-list ol,
.nfr-list ol {
  display: block;
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 15px "trebuchet MS", "lucida sans";
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.fr-list li,
.nfr-list li {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 0.8em;
  *padding: 0.4em;
  margin: 0.5em 0 20px 2.5em !important;
  color: rgb(52, 53, 44);
  font-family: Poppins, sans-serif;
  font-weight: 550;
  letter-spacing: -0.62px;
  text-decoration: none;
  background-color: #eedca3;

  transition: all 0.3s ease-out;
}
.fr-list li:hover,
.nfr-list li:hover {
  background: #eee;
}
.fr-list li:before,
.nfr-list li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #3b3b37;
  color: #fff;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.fr-list li:after,
.nfr-list li:after {
  position: absolute;
  content: "";
  border: 0.5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -0.5em;
  transition: all 0.3s ease-out;
}
.fr-list li:hover:after,
.nfr-list li:hover:after {
  left: -0.5em;
  border-left-color: #111110;
}
/* Buttons styling */

.icon-btn {
  margin-top: 40%;
  width: 40px;
  height: 40px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}
.add-btn:hover {
  width: 100px;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: " ";
  position: absolute;
  height: 2px;
  width: 15px;
  top: calc(50% - 2px);
  background: rgb(146, 187, 248);
}
.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: rgb(146, 187, 248);
  overflow: hidden;
}
.add-icon::before {
  left: 18px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 18px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/* Section 4 Styling */

.sec4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 300;
}

.heading-3 {
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 490;
  margin: 10px 0;
  margin-top: -4%;
  margin-bottom: 0%;
  margin-left: 2%;
  font-size: 167%;
}
.my-contact {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 18%;
  margin-right: 10%;
  margin-top: 42%;
  margin-bottom: 24%;
}
.my-contact i {
  margin-right: 20px;
  font-size: 20px;
}


.my-contact a {
  text-decoration: none;
  color: black;
}
#location {
  margin-left: 2%;
  margin-bottom: -3%;
  margin-top: 2%;
}
.textfield {
  width: 30%;
  text-align: right;
  padding: 0 23px;
}

/* Section 3 Styling */
#rate {
  padding: 5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 9px;
}
.rate-btn {
  padding: 6px 10px;
  margin: 7px 3px;
  border: 2px solid white;
  border-radius: 8px;
  background-color: rgb(107, 104, 104);
  color: white;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  vertical-align: middle;
  font-size: px;
}

.sec3 {
  display: flex;
  flex-direction: column;
  margin-top: -2%;
  margin-bottom: 9%;
  margin-left: -4%;
  justify-content: center;
  align-items: center;
}
#cost-estimation {
  margin: 2%;
  margin-top: 4%;
  width: 55%;
  margin-left: 16%;
}
#cost-estimation p {
  color: rgb(34, 33, 33);
  font-size: 19px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 440;
  background-color: rgb(213, 247, 235);
}

/* Footer Styling */
.text-footer {
  text-align: center;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  color: white;
}
